<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera"
        tools:ignore="DuplicateUsesFeature" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        tools:ignore="DuplicateUsesFeature" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA_PROJECTION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.PROJECT_MEDIA" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:ignore="ProtectedPermissions" />


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedTrail"
        tools:targetApi="31"
        android:hardwareAccelerated="true"
        tools:ignore="ForegroundServicePermission">
      <!--  <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${com.example.cameraswitch}.workmanager-init"
            android:exported="false">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.work.impl.WorkManagerInitializer" />
        </provider> -->

      <!--  <activity
            android:name="com.example.cameraswitch.Main2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.cameraswitch.CameraAlter" android:exported="false" />
-->
        <activity
            android:name="com.example.cameraswitch.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Capturing.CameraViewLibrary" />

        <receiver
            android:name=".Receivers.BootRceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.ActivityReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.EndStudyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.app.Endstudy" />
            </intent-filter>
        </receiver>
        <activity android:name=".TestandTemp.CameraWithButton" android:exported="false" />
        <activity android:name=".Capturing.BackCameraButton" android:exported="false" />

        <service
            android:name="com.example.cameraswitch.Service.AccessService"
            android:label="FeedTrail"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>

        </service>

        <activity
            android:name=".Capturing.ResetScreenCapturePermission"
            android:label="Screen Capture Permission"
        android:launchMode="singleTask"
        android:excludeFromRecents="true" />

        <service android:name="com.example.cameraswitch.Capturing.HideCamera"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="camera"
            >
        </service>
        <service android:name="com.example.cameraswitch.Capturing.CombineCameras"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="camera"
            >
        </service>
      <!--  <activity android:name="com.example.cameraswitch.Capturing.BuiltInBackCamera"
            android:exported="true"
            android:enabled="true"

            >
        </activity>-->


        <service android:name="com.example.cameraswitch.Capturing.HideFrontCamera_Old"
            android:exported="true"
            android:enabled="true">
        </service>
        <activity android:name=".PagesandActivites.PidPage" android:exported="false">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            </activity>
        <activity android:name=".PagesandActivites.IntroductionPage" android:exported="false" />
        <activity android:name=".PagesandActivites.EinvUlm" android:exported="false" />
        <activity android:name=".PagesandActivites.Permissions" android:exported="false" />
        <activity android:name=".PagesandActivites.StartStudyPage" android:exported="false" />
        <activity android:name=".PagesandActivites.StudyCompleted" android:exported="false" />
        <activity android:name=".PagesandActivites.ContinueStudyPage" android:exported="false" />
     <!--   <activity android:name=".ScreenCaptureActivity" android:configChanges="orientation|screenSize" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->

        <service
            android:name=".Capturing.ScreenCaptureService"
            android:foregroundServiceType="mediaProjection"
            android:enabled="true"
            android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"
            android:exported="true"
            />

        <receiver android:name=".Receivers.GlobalBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.cameraswitch.UPLOAD_TRIGGER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receivers.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.example.cameraswitch_CUSTOM_UPLOAD_TRIGGER" />

            </intent-filter>
        </receiver>

    </application>



</manifest>